

body {
    background: url('../patterns/index.png') no-repeat fixed center ;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    /*background-color: #555555;*/
    font-family: 'Amaranth', sans-serif;
    position: relative;
     /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}

/*---Calendario en registración--- */
#fecha_usuario {
    cursor:default; 
    padding:.3em; 
    text-decoration:none; 
   
}
#fecha_usuario:hover {
    cursor: pointer;
    cursor: hand;
    background-color: '#ff8';
    text-decoration: none;

}
/*---FIN CALENDARIO---*/



/*
=====================
====MENU LATERAL====
=====================
*/

#side{
    
    background: #111112;
    border-radius: 2em 2em 2em 2em;
    box-shadow: -1px 0 #8A0808, 0 1px #8A0808, 1px 0 #8A0808, 0 -1px #8A0808; 
    /*box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);*/
    line-height: 120%;
    margin: 0;
    padding: 7px 6px 0;
    z-index: 2;
    /*position: absolute;*/
    width: 70%;
   

     /*background-image: url('../img/fondos-de-pantalla-fondo-negro-hd-widescreen-gratis-imagenes.jpg');*/
}
#side li {
    float: bottom;
    list-style: none outside none;
    margin: 0 5px;
    padding: 0 0 8px;
    position: relative;
}
#side a {
    border-radius: 1.6em 1.6em 1.6em 1.6em;
    color: #E7E5E5;
    display: block;
    font-weight: bold;
    margin: 0;
    padding: 8px 20px;
    text-decoration: none;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
}
#side a:hover {
    background: none repeat scroll 0 0 #000000;
    color: #FFFFFF;
}
#side .current a, #side li:hover > a {
    background: #DDDDDD;
    border-top: 1px solid #F8F8F8;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    color: #444444;
    text-shadow: 0 1px 0 #FFFFFF;
}
#side ul li:hover a, #side li:hover li a {
    background: none repeat scroll 0 0 transparent;
    border: medium none;
    box-shadow: none;
    color: #666666;
}
#side ul a:hover {
    background: #0078FF;
    border-radius: 0 0 0 0;
    color: #000 ;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}
#side li:hover > ul {
    display: block;
}
#side ul {
    background: #DDDDDD;
    border: 1px solid #B4B4B4;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    display: none;
    left: 0;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 35px;
    width: 185px;
}
#side ul li {
    float: none;
    margin: 0;
    padding: 0;
}

#side ul a {
    font-weight: normal;
    text-shadow: 0 1px 0 #FFFFFF;
}
#side ul ul {
    left: 180px;
    top: 0px;
}

#side ul {
    top: -10px;
    left: 110px;
}

#side ul li:first-child > a {
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
}
#side ul li:last-child > a {
    border-bottom-left-radius: 9px;
    border-bottom-right-radius: 9px;
}

#side:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    line-height: 0;
    visibility: hidden;
}
#side {
    display: inline-block;
}
html[xmlns] #side {
    display: block;
}
* html #side {
    height: 1%;
}

/*
======================
=====FIN DE MENU======
======================
*/
/*
======================
=======NAVBAR=========
======================
*/

.loginRegButtons{ 
    margin-right: 20px;
    padding: 10px;

}

.slide-image {
    width: 100%;
}

.carousel-holder {
    margin-bottom: 30px;
}

.carousel-control,
.item {
    border-radius: 4px;
}

.caption {
    height: 130px;
    overflow: hidden;
}

.caption h4 {
    white-space: nowrap;
}

/*PADDINGS*/

.padding-left-320{
    padding-left: 320px;
}

.paddingWithoutNav {
    padding-top: 70px;
}
/*END PADDINGS*/

.thumbnail img {
    width: 100%;
}

.ratings {
    padding-right: 10px;
    padding-left: 10px;
    color: #d17581;
}

.thumbnail {
    padding: 0;
    background-color: #777777;
    border-color: #8A0808;
}

.thumbnail .caption-full {
    padding: 9px;
    color: #333;
    word-break: break-all;
}

footer {
    margin: 50px 0;
}
.navbar{
    background: #000;
}

#caja_busqueda /*estilos para la caja principal de busqueda*/
{
border-radius: 10px 10px 10px 10px;
width:400px;
height:35px;
border:solid 2px #979DAE;
font-size:16px;
}

#display /*estilos para la caja principal en donde se puestran los resultados de la busqueda en forma de lista*/
{
border-radius: 10px 10px 10px 10px;
position: absolute;
width:400px;
display:none;
z-index:15;
border: solid 1px #666;
background: #777777;
border-color: #8A0808;

}

.display_box /*estilos para cada caja unitaria de cada producto que se muestra*/
{
border-radius: 10px 10px 10px 10px;
background: #777777;
padding:2px;
padding-left:6px; 
font-size:18px;
height:63px;
text-decoration:none;
color:#3b5999; 
overflow: auto;
}

.display_box:hover /*estilos para cada caja unitaria de cada producto que se muestra. cuando el mouse se pocisiona sobre el area*/
{
background: #444444;
color: #FFF;
}

.titul{
    color:#8A0808;
    /*text-shadow: -1px 0 white ,0 1px white, 1px 0 white, 0 -1px white;*/
}

.desc
{
color:#111;
font-size:16;
word-break:break-all;
}

/* ESTILO PARA MOSTRAR LAS NOTIFICACIONES*/
.display_noti 
{
padding:2px;
padding-left:6px; 
font-size:14px;
height:40px;
text-decoration:none;
color:#3b5999;    
}

.display_noti:hover
{
background: #7f93bc;
color: #FFF; 
}


/*MIS PRODUCTOS - O ARTICULOS*/
.radius-ultimo-hijo:last-child {
    border-bottom-radius-right: .5em;
    border-bottom-radius-left: .5em;
}

/**/

/* ESTILO PARA MOSTRAR LAS NOTIFICACIONES*/

.desc:hover
{
color:#FFF;
}

 .navbar-collapse{
    background-color: #111112;
    /*background-image: url('../img/fondos-de-pantalla-fondo-negro-hd-widescreen-gratis-imagenes.jpg');*/
    box-shadow: 2px 5px 2px #8A0808;

 }

 .navbar-btn{
    color: white;
    border-radius: 15px 70px  15px;
 }
 .navbar-btn:hover{
    color: #444444;
    box-shadow: -2px 0 #8A0808, 0 2px #8A0808, 2px 0 #8A0808, 0 -2px #8A0808; 
 }
 .busca{
   color:black;
   box-shadow: 2px 3px 2px #8A0808;
 }
 .fa-search{
    color:black;
    box-shadow: 2px 5px 2px #8A0808;

 }
 .img{
    width: 100px;
    border-radius: 15px 70px  15px;
    box-shadow: -2px 0 #8A0808, 0 2px #8A0808, 2px 0 #8A0808, 0 -2px #8A0808; 

}
.btn-default{
    border-radius: 15px 70px  15px;
}
.caption{
    background-color:#444444;
}
.ratings{
    color:#888888;
    background-color: #333333;
    /*box-shadow: -1px 0 #8A0808, 0 1px #8A0808, 1px 0 #8A0808, 0 -1px #8A0808; */
}
.fa-calendar,.fa-eye{
    color:black;
}
.fa-arrow-down,.fa-arrow-up{
    color:white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; 
}
.originf{
  border-color:#8A0808;
}
.lead{
     text-shadow: -1px 0 white ,0 1px white, 1px 0 white, 0 -1px white;
     color: #222222; 
}
.sar{
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; 
    color:white;
}
.sar:hover{
    color: #333333;
}
.descrip{
    color:#222222;
    word-break: break-all;
}
.col-sm-12{
    color:#222222;
}

.col-md-8{
    padding-left: 0px;
}
.col-md-6{
    background-color: #BDBDBD;
    border-color: #8A0808;
}

#titleLoginSection,#titleRegSection{
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white; 

}
.carousel.slide{
    box-shadow: -2px 0 #8A0808, 0 2px #8A0808, 2px 0 #8A0808, 0 -2px #8A0808; 
    border-radius: 1px 1px 1px 1px;


}

a.enlace{
    color:#8A0808;
}

/*.form-control,.well{
    border-color: #8A0808;

<<<<<<< HEAD
}
*/
/*hecho por mi*/
.orderSpan {
    padding-right: 20px;
    display: inline-block;
}

.linkOrder {
    padding: 10px;
}
/* MENU NOTIFICACIONES */

.noti {
    border: solid black 1px; 
    display:none; 
    position: absolute;  
    width:250px; 
}


.puntos{
   word-break:break-all;
}
