
body {
    background: #f2f4f4;
    font-family: 'Amaranth', sans-serif;
     /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}


@font-face
{
    font-family: "Prototype";
    src: 
        url("../fonts/prototype/Prototype.ttf") format("truetype");
                
}

/*---Calendario en registración--- */
#fecha_usuario {
    cursor:default; 
    padding:.3em; 
    text-decoration:none; 
   
}
#fecha_usuario:hover {
    cursor: pointer;
    cursor: hand;
    background-color: '#ff8';
    text-decoration: none;

}
/*---FIN CALENDARIO---*/



/*
=====================
====MENU LATERAL====
=====================
*/

#side
{
    -ms-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size:1em;
    text-align: center;
}

#side ul
{
   background-color: #932828;
   border-bottom-left-radius: 0.5em;
   border-bottom-right-radius: 0.5em;
   box-shadow: 5px 5px 5px #888888;
   color: #932828;
   list-style: none;
   margin: 0;
   padding-left: 0;
}

#side ul li {
    display: block;
    list-style: none;
}
#side ul li a 
{
    font-family: 'Prototype';
    font-size: 1.1em; 
    padding: 1.2em;
    display: block;
    color: #FFE7E7;
    text-decoration: none; 
}

#side ul li a:hover
{
    opacity:0.7;
    filter:alpha(opacity=70); /* For IE8 and earlier */
    background-color: #f3f6f6;
    color: #080000;
}

.box-shadow-5 {
     box-shadow: 5px 5px 5px #888888;
}

.panel {
    border: none;
}

.panel-body {
    padding: 0;
}
/*
======================
=====FIN DE MENU======
======================
*/

/*
======================
=======NAVBAR=========
======================
*/
.navbar-collapse{
    background-color: #787878;
    box-shadow: 3px 3px 3px #888888;    
    /*box-shadow: inset 0 -2px #932828;*/
}
.navbar-collapse a{
    color: #f2f3f3;
}

.navbar-collapse a:hover{
    color: #932828;
}


/*
======================
=======NAVBAR=========
======================
*/

.loginRegButtons{ 
    margin-right: 20px;
    padding: 10px;

}
.slide-image {
    width: 100%;
}

.carousel-holder {
    margin-bottom: 30px;
}

.carousel-control,
.item {
    border-radius: 4px;
}

.caption {
    height: 130px;
    overflow: hidden;
}

.caption h4 {
    white-space: nowrap;
}

/*PADDINGS*/

.padding-left-320{
    padding-left: 320px;
}

.paddingWithoutNav {
    padding-top: 30px;
}
/*END PADDINGS*/

.thumbnail img {
    width: 100%;
}

.ratings {
    padding-right: 10px;
    padding-left: 10px;
    color: #d17581;
}

.thumbnail {
    padding: 0;
}

.thumbnail .caption-full {
    padding: 9px;
    color: #333;
}

footer {
    margin: 50px 0;
}
.navbar{
    background: #000;
}
#caja_busqueda /*estilos para la caja principal de busqueda*/
{

width:400px;
height:25px;
border:solid 2px #979DAE;
font-size:16px;
}
#display /*estilos para la caja principal en donde se puestran los resultados de la busqueda en forma de lista*/
{
position:fixed; 
width:400px;
display:none;
overflow:hidden;
z-index:10;
border: solid 1px #666;
background: #FFF;
}
.display_box /*estilos para cada caja unitaria de cada producto que se muestra*/
{
padding:2px;
padding-left:6px; 
font-size:18px;
height:63px;
text-decoration:none;
color:#3b5999; 
}

.display_box:hover /*estilos para cada caja unitaria de cada producto que se muestra. cuando el mause se pocisiona sobre el area*/
{
background: #7f93bc;
color: #FFF;
}
.desc
{
color:#666;
font-size:16;
}
.desc:hover
{
color:#FFF;
}

.orderSpan {
    padding-right: 20px;
    display: inline-block;
}


.linkOrder {
    padding: 10px;
}
